BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "bert_synchedn" SITE "C6" ;
LOCATE COMP "heart_beat" SITE "D18" ;
LOCATE COMP "prbs_out" SITE "E6" ;
LOCATE COMP "clk_in" SITE "P3" ;
IOBUF PORT "clk_in" IO_TYPE=LVDS ;
LOCATE COMP "rstn_in" SITE "R1" ;
FREQUENCY PORT "clk_in" 100.000000 MHz ;
LOCATE COMP "prbs_in" SITE "B12" ;
LOCATE COMP "testn_in" SITE "B19" ;
